<h1>Clientes</h1>
<div class="alert alert-danger" *ngIf="errorMessage">
  {{errorMessage}}
</div>
<table class="table table-striped table-bordered table-hover">
  <tbody>
    <tr>
      <th>CPF</th>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th class="text-center">
        <a [routerLink]="['/customers/new']"
          href="#" title="New" alt="New" class="btn btn-xs btn-success">
          <i class="fa fa-plus" aria-hidden="true"></i> Novo
        </a>
      </th>
    </tr>
    <tr *ngFor="let customer of customers">
      <td> {{ customer.cpf! | mask: '000.000.000-00' }} </td>
      <td> {{ customer.firstName }} </td>
      <td> {{ customer.lastName }} </td>
      <td class="text-center" style="width: 300px">
        <a href="#" title="Edit" alt="Edit" class="btn btn-xs btn-info" [routerLink]="['/customers/edit', customer.id]">
          <i class="fa fa-edit" aria-hidden="true"></i> Editar
        </a>
        <a href="#" title="Remove" alt="Remove" class="btn btn-xs btn-danger" (click)="remove($event, customer)">
          <i class="fa fa-times" aria-hidden="true"></i> Remover
        </a>
      </td>
    </tr>
  </tbody>
</table>
<p *ngIf="customers.length===0">Nenhum cliente cadastrado.</p>
